logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

archivos_extra/*

node_modules/

dist/
dist-ssr/
*.local

.env
.env.*
!.env.example

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

.vercel/
.netlify/

*.tsbuildinfo

# Documentacion/recoleccion-module/*
# Documentacion/vivero-module/*
.claude/*